   <div class="contenedor">
      
       <section class="contenido-header">
           <section class="textos-header">
<h2><b>América del Sur</b></h2>
               <p>América del Sur, también llamada Sudamérica o Suramérica. Es el subcontinente austral de América. Está
                   atravesada por la línea ecuatorial en su extremo norte, quedando así con la mayor parte de su
                   territorio comprendida dentro del Hemisferio Sur. Está situada entre el Océano Atlántico y el Océano
                   Pacífico. Ocupa una superficie de 17,8 millones de km², lo que representa un 42% del continente
                   americano y un 12% de las tierras emergidas,[1] y está habitada por el 6% de la población mundial
               </p>
               <p>Situada entre el mar Caribe, el Pacífico y el Atlántico Sur, Sudamérica se levanta como la parte más
                   austral del continente americano.</p>

               <p>Sudamérica presenta una gran diversidad climática y geográfica, destacando las selvas de la Amazonía,
                   las escarpadas cumbres de la cordillera de los Andes, el árido desierto de Atacama, islas remotas
                   como las Galápagos y Fernando de Noronha, playas paradisíacas en el Caribe y el Atlántico y los duros
                   parajes de la Patagonia.</p>
               <p>
                   Desde el Siglo XVI hasta principios del Siglo XIX la mayor parte de América del Sur estaba dividida
                   en colonias gobernadas, mayoritariamente, por España y Portugal, seguidas por una colonia del Reino
                   Unido, una de Francia y otra de Holanda las cuales se fueron convirtiendo en repúblicas, con la
                   excepción de la Guayana Francesa y las Islas Malvinas e islas vecinas.
               </p>

               <a href="rastreo-de-vuelos.html">Buscar Vuelo</a>
           </section>
   <img class="img-sur" src="img/continentes/sur.svg">
       </section>
    
   </div>


   <section class="about-us">
       <div class="content_us">
           <h2 class="titulo">Aeropuertos de Sur América</h2>
           <p>Estos son los principales aeropuertos de América del Sur y paises.
           </p>

           <div class="list">
               <li> <a href=""> Aeropuerto Internacional de São Paulo-Guarulhos (GRU) (São Paulo, Brasil)</a></li>
               <li> <a href=""> Aeropuerto Internacional Jorge Chávez (LIM) (Lima, Perú)</a></li>
               <li> <a href="">Aeropuerto Internacional Ministro Pistarini (EZE) (Buenos Aires, Argentina)</a></li>
               <li> <a href="">Aeropuerto Internacional Comodoro Arturo Merino Bení­tez (SCL) (Santiago de Chile, Chile)</a></li>
               <li> <a href="">Aeropuerto Internacional de Galeão (GIG) (Río de Janeiro, Brasil)</a></li>
               <li> <a href="">Aeropuerto Internacional El Dorado (BOG) (Bogotá, Colombia))</a></li>
             
           </div><br>
             
           <div class="contenedor-articulo">
               <div class="articulo">
                   <h2></h2>
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/sur-america/flag_argentina.png" alt="">
                               <h3 class="btn-item active">Argentina</h3>
                           </div>
                       </div>
                   </div>

               </div>
               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                             <img src="img/ico-paises/sur-america/flag_bolivia.png" alt="">
                               <h3 class="btn-item active">Bolivia
                               </h3>
                           </div>
                       </div>
                   </div>

               </div>


               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                              <img src="img/ico-paises/sur-america/flag_brasil.png" alt="">
                               <h3 class="btn-item active">Brasil </h3>
                           </div>
                       </div>
                   </div>
               </div>


                 <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                              <img src="img/ico-paises/sur-america/flag_chile.png" alt="">
                               <h3 class="btn-item active">Chile </h3>
                           </div>
                       </div>
                   </div>
               </div>


                 <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                              <img src="img/ico-paises/sur-america/flag_colombia.png" alt="">
                               <h3 class="btn-item active">Colombia </h3>
                           </div>
                       </div>
                   </div>
               </div>


                 <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                              <img src="img/ico-paises/sur-america/flag_ecuador.png" alt="">
                               <h3 class="btn-item active">Ecuador </h3>
                           </div>
                       </div>
                   </div>
               </div>
                 <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                              <img src="img/ico-paises/sur-america/flag_paraguay.png" alt="">
                               <h3 class="btn-item active">Paraguay </h3>
                           </div>
                       </div>
                   </div>
               </div>
                 <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                              <img src="img/ico-paises/sur-america/flag_peru.png" alt="">
                               <h3 class="btn-item active">Perú </h3>
                           </div>
                       </div>
                   </div>
               </div>
                 <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                              <img src="img/ico-paises/sur-america/flag_surinam.png" alt="">
                               <h3 class="btn-item active">Surinam </h3>
                           </div>
                       </div>
                   </div>
               </div>
                 <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                              <img src="img/ico-paises/sur-america/flag_uruguay.png" alt="">
                               <h3 class="btn-item active">Uruguay </h3>
                           </div>
                       </div>
                   </div>
               </div>
                 <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                              <img src="img/ico-paises/sur-america/flag_venezuela.png" alt="">
                               <h3 class="btn-item active">Venezuela </h3>
                           </div>
                       </div>
                   </div>
               </div>
                 
   </section>