<!DOCTYPE html>
<html lang="es">
    <head>
     {{> cliente/head}}
    </head>
  
<body>
<header>
      {{> cliente/header }}
</header>
{{{body}}}


<footer>
    {{> cliente/footer}}
</footer>
{{> cliente/script}}
</body>
</html>