   <div class="contenedor">

       <section class="contenido-header">
           <section class="textos-header">
               <h2><b>El Caribe</b></h2>
               <p>El Caribe, es una región conformada por el mar del Caribe, sus islas y las costas que rodean a este
                   mar, se encuentra localizado en el sureste del golfo de México y América del Norte, al este de
                   América Central, y al norte de América del Sur. Tiene una población de 36,314,000 habitantes, y desde
                   el siglo XVI fue colonias de paí­ses como España, quien fue la potencia dominante en toda esta
                   región, sin embargo, su escaso interés en conservarlas, motivó que estas últimas pudieran ser
                   conquistadas sin mayores problemas por Ingleses, Franceses y Holandeses. Fueron plazas que,
                   posteriormente, éstos utilizaran como punto de partida para otras conquistas, lo que ha dado lugar al
                   rico mosaico actual de nacionalidades, lenguas y culturas
               </p>

               <p>la actualidad es una importante zona turística en la que se deja apreciar el desarrollo tanto
                   cultural como social en muchos de sus paí­ses, es así­ que aquí­ en Infovuelos 24 te ofrecemos toda
                   la información sobre los aeropuertos de esta parte del continente.</p>
               

                   <a href="rastreo-de-vuelos.html">Buscar Vuelo</a>
           </section>
           <img class="img-sur" src="img/continentes/Caribe.png">
       </section>

   </div>


   <section class="about-us">
       <div class="content_us">
           <h2 class="titulo">Aeropuertos del Caribe</h2>
           <p>Estos son los principales aeropuertos del Caribe. Se caracterizan por su ubicación y ciudad.
           </p>

           <div class="list">
               <li> <a href=""> Aeropuerto Internacional Reina Beatriz (AUA) (Oranjestad, Aruba)</a></li>
               <li> <a href=""> Aeropuerto Internacional Lynden Pindling (NAS) (Nassau, Bahamas)</a></li>

               <li> <a href="">Aeropuerto Internacional José Martí­ (HAV) (La Habana, Cuba)</a></li>
               <li> <a href="">Aeropuerto Internacional Hato (CUR) (Willemstad, curazao)</a></li>
               <li> <a href="">Aeropuerto Internacional de Punta Cana (PUJ) (Punta Cana, República Dominicana)</a></li>
               <li> <a href="">Aeropuerto Internacional Princesa Juliana (SXM) (Philipsburg, Saint Martin)</a></li>
               <li> <a href="">Aeropuerto Internacional Owen Roberts (GCM) (George Town, Islas Caimán </a></li>
               
           </div>
           <div class="contenedor-articulo">

               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_antigua-barbuda.png" alt="">
                               <h3 class="btn-item active"> Antigua y Barbuda</h3>
                           </div>
                       </div>
                   </div>

               </div>


               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_aruba.png" alt="">
                               <h3 class="btn-item active">Aruba
                               </h3>
                           </div>


                       </div>
                   </div>

               </div>


               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_bahamas.png" alt="">
                               <h3 class="btn-item active">Bahamas </h3>
                           </div>
                       </div>
                   </div>
               </div>

                  <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_cuba.png" alt="">
                               <h3 class="btn-item active">Cuba </h3>
                           </div>
                       </div>
                   </div>
               </div>


                  <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_curazao.png" alt="">
                               <h3 class="btn-item active">Curazao </h3>
                           </div>
                       </div>
                   </div>
               </div>



                  <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_jamaica.png" alt="">
                               <h3 class="btn-item active">Jamaica </h3>
                           </div>
                       </div>
                   </div>
               </div>


                  <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_puerto-rico.png" alt="">
                               <h3 class="btn-item active">Puerto Rico </h3>
                           </div>
                       </div>
                   </div>
               </div>


                  <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_republica-dominicana.png" alt="">
                               <h3 class="btn-item active">República Dominicana </h3>
                           </div>
                       </div>
                   </div>
               </div>


                  <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_saint-martin.png" alt="">
                               <h3 class="btn-item active">Saint Martin </h3>
                           </div>
                       </div>
                   </div>
               </div>

               
                  <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_santa-lucia.png" alt="">
                               <h3 class="btn-item active">Santa Lucía </h3>
                           </div>
                       </div>
                   </div>
               </div>

               
                  <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_trinidad-tobago.png" alt="">
                               <h3 class="btn-item active">Trinidad y Tobago </h3>
                           </div>
                       </div>
                   </div>
               </div>
   </section>