 
   <nav>
      <section class="contenedor nav">
        <div class="logo">
          <a href="/"> <img src="/img/fonts/logo2.png" alt=""></a>
        </div>
        <div class="enlaces-header">
         
          <a href="/Sur-America">América del Sur </a>
          <a href="/Norte-America">América del Norte </a>
          <a href="/Centro-America">América Central</a>
          <a href="/Caribe">Caribe</a>
          <a href="/Asia">Asia</a>
           <a href="/Africa">África</a>
            <a href="/Europa">Europa</a>
              <a href="/Oceania">Oceanía</a>

        </div>
        <div class="hamburguer">
          <i class="fas fa-bars"></i>
        </div>
      </section>
    </nav>


 
 