   <div class="contenedor">
       <section class="contenido-header">
           <section class="textos-header">
               <h2><b>Oceanía </b></h2>
               <p>Oceanía es un continente insular de la Tierra constituido por la plataforma continental de Australia,
                   las islas de Nueva Guinea, Nueva Zelanda y los archipiélagos coralinos y volcánicos de Melanesia,
                   Micronesia y Polinesia. Un sector de los expertos considera que Insulindia también forma parte de
                   Oceanía. Todas estas islas están distribuidas por el Océano Pacífico. Con una extensión de 9 008 458
                   km², se trata del continente más pequeño y menos poblado del planeta
               </p>
               <p>
                   
               </p>

               <a href="rastreo-de-vuelos.html">Buscar Vuelo</a>
           </section>
           <img class="img-content" src="img/continentes/oceania.svg">
       </section>
   </div>


   <section class="about-us">
       <div class="content_us">
           <h2 class="titulo">Aeropuertos de Oceanía</h2>
           

           <div class="list">
               <li> <a href=""> Aeropuerto Internacional de Auckland (AKL) (Auckland, Nueva Zelanda)</a></li>
               <li> <a href="">Aeropuerto de Brisbane (BNE) (Brisbane, Australia)</a></li>

               <li> <a href="">Aeropuerto de Sí­dney (SYD) (Sidney, Australia)</a></li>
             
           </div>
           <div class="contenedor-articulo">

               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/oceania/flag_australia.png" alt="">
                               <h3 class="btn-item active"> Australia</h3>
                           </div>
                       </div>
                   </div>
               </div>


               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/oceania/flag_nueva-zelanda.png" alt="">
                               <h3 class="btn-item active">Nueva Zelanda
                               </h3>
                           </div>
                       </div>
                   </div>
               </div>


               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/oceania/flag_polinesia-francesa.png" alt="">
                               <h3 class="btn-item active">Francesa  </h3>
                           </div>
                       </div>
                   </div>
               </div>

   </section>