   <div class="contenedor">

       <section class="contenido-header">
           <section class="textos-header">
               <h2><b>América central</b></h2>
               <p>América central Conocida también como Centroamérica forma parte del continente americano. Constituida
                   por un largo y estrecho istmo a manera de puente entre norteamérica y suramérica es definida por los
                   geógrafos como parte de América del Norte, tiene una extensión de 523.000 km2 y comprende los
                   siguientes países: Guatemala, Belice, Honduras, El Salvador, Nicaragua, Costa Rica y Panamá, así como
                   el sector más meridional de México
               </p>

               <p>Un poco más al este de América Central se encuentra la zona del Caribe, que comprende al Mar Caribe y
                   al archipiélago de las Antillas, subdividiéndose en Antillas Mayores y Menores. Esta región goza de
                   un clima privilegiado, por lo que se convierte en una de las principales zonas turísticas de América
                   .</p>


               <a href="rastreo-de-vuelos.html">Buscar Vuelo</a>
           </section>
           <img class="img-content" src="img/continentes/central.png">
       </section>

   </div>


   <section class="about-us">
       <div class="content_us">
           <h2 class="titulo">Aeropuertos de Centro América</h2>
           <p>Estos son los principales aeropuertos de Centro  América. Se caracterizan por su ubicación geográfica.
           </p>

           <div class="list">
               <li> <a href=""> Aeropuerto Internacional Augusto C. Sandino (MGA) (Managua, Nicaragua)</a></li>
               <li> <a href=""> Aeropuerto Internacional de Tocumen (PTY) (Ciudad de Panamá, Panamá)</a></li>

               <li> <a href="">Aeropuerto Internacional Juan Santamaría (SJO) (San Jose, Alajuela, Costa Rica)</a></li>
               <li> <a href="">Aeropuerto Internacional de El Salvador (SAL) (San Salvador, El Salvador)</a></li>
               <li> <a href="">Aeropuerto Internacional La Aurora (GUA) (Ciudad de Guatemala, Guatemala)</a></li>

             
           </div>
           <div class="contenedor-articulo">

               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_costa-rica.png" alt="">
                               <h3 class="btn-item active">Costa Rica</h3>
                           </div>
                       </div>
                   </div>

               </div>


               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_el-salvador.png" alt="">
                               <h3 class="btn-item active">El Salvador
                               </h3>
                           </div>


                       </div>
                   </div>

               </div>


               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_guatemala.png" alt="">
                               <h3 class="btn-item active">Guatemala </h3>
                           </div>


                       </div>
                   </div>

               </div>

               
               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_honduras.png" alt="">
                               <h3 class="btn-item active">Honduras </h3>
                           </div>

                       </div>
                   </div>

               </div>

               
               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_nicaragua.png" alt="">
                               <h3 class="btn-item active">Nicaragua </h3>
                           </div>


                       </div>
                   </div>

               </div>

               
               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/central-america-caribe/flag_panama.png" alt="">
                               <h3 class="btn-item active">Panamá </h3>
                           </div>


                       </div>
                   </div>

               </div>

   </section>