   <div class="contenedor">

       <section class="contenido-header">
           <section class="textos-header">
<h2><b>África</b></h2>

               <p>
                   África es el tercer continente del mundo por extensión territorial y tiene más de mil millones de
                   habitantes. Rodeada por el océano Atlántico y el Índico, además del mar Mediterráneo por el norte,
                   África es una vasta masa de tierra que se extiende por 8.000 kilómetros de norte a sur y 7.500 de
                   este a este. Pese a tener más países que cualquier otro continente (54 en la actualidad), este número
                   no refleja la enorme variedad de pueblos, razas, credos y culturas que habitan estas tierras.</p>
               <p>
                   Es una tierra de contrastes: el enorme desierto del Sahara es interrumpido por el río Nilo, que nace al
                   interior del continente, cubierto por selvas y enormes lagos como el lago Victoria. Aunque la sabana
                   es probablemente la imagen que más frecuentemente los extranjeros asocian con África, existen cientos
                   de diferentes ecosistemas llegando a encontrar incluso nieve en las alturas del Kilimanjaro y algunas
                   montañas de Sudáfrica.
               </p>


               <a href="rastreo-de-vuelos.html">Buscar Vuelo</a>
           </section>
           <img class="img-content" src="img/continentes/africa2.svg">
       </section>

   </div>


   <section class="about-us">
       <div class="content_us">
           <h2 class="titulo">Aeropuertos de África</h2>
           <p>Estos son los principales aeropuertos de América del Norte. Se caracterizan por su ubicación geográfica y
               por
               realizar las mayores operaciones de vuelo a cargo de aerolíneas populares.
           </p>

           <div class="list">
               <li> <a href=""> Aeropuerto Internacional de El Cairo (CAI) (El Cairo, Egipto)</a></li>
               <li> <a href="">Aeropuerto de Johannesburgo (JNB) (Johannesburgo, Sudáfrica)</a></li>
                 <li> <a href="">Aeropuerto Internacional de Sharm el-Sheij (SSH) (Sharm el-Sheij, Egipto)</a></li>
               <li> <a href="">Aeropuerto Internacional Mohámmed V (CMN) (Casablanca, Marruecos)</a></li>
               <li> <a href="">Aeropuerto Internacional de la Ciudad del Cabo (CPT) (Ciudad del Cabo, Sudáfrica)</a></li>
              
           </div>
           <div class="contenedor-articulo">

               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/africa/flag_egipto.png" alt="">
                               <h3 class="btn-item active">Egipto</h3>
                           </div>
                       </div>
                   </div>

               </div>


               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/africa/flag_marruecos.png" alt="">
                               <h3 class="btn-item active">Marruecos
                               </h3>
                           </div>


                       </div>
                   </div>

               </div>


               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/africa/flag_sudafrica.png" alt="">
                               <h3 class="btn-item active">Sudáfrica </h3>
                           </div>


                       </div>
                   </div>

               </div>

   </section>