   <div class="contenedor">

       <section class="contenido-header">
           <section class="textos-header">
               <h2><b>Europa</b></h2>

               <p>
                   Europa es uno de los más interesantes y antiguos continentes, pues ha sido poblado desde épocas muy
                   tempranas. Se encuentra ubicado en la parte oriental del Hemisferio Norte y cuenta con una población
                   de aproximadamente 735.000.000 de personas. Aquí­ hay una gran cantidad de paí­ses y estados
                   soberanos, dando origen a las más importantes culturas
                   .</p>
               <p>
                   Sus ciudades como París, Londres, Roma, Moscú, Madrid o Atenas son destinos recurrentes de la
                   historia universal, pero en la actualidad logran fusionar el pasado con lo contemporáneo,
                   convirtiéndose en grandes metrópolis que forman parte del motor económico mundial. Aunque su gran
                   riqueza radica en su patrimonio histórico, su geografía abre espacio a destinos naturales destacados.
                   A pocos cientos de kilómetros uno puede pasar del duro clima de Laponia a las inmensidades de la
                   Selva Negra, las alturas de los Alpes o bañarse en las cristalinas aguas del Mar Egeo.
               </p>


               <a href="rastreo-de-vuelos.html">Buscar Vuelo</a>
           </section>
           <img class="img-content" src="img/continentes/europa.png">
       </section>

   </div>


   <section class="about-us">
       <div class="content_us">
           <h2 class="titulo">Aeropuertos de Europa</h2>
           <p>Estos son los principales aeropuertos de Europa. Se caracterizan por su ubicación geográfica y
               por
               realizar las mayores operaciones de vuelo a cargo de aerolíneas populares.
           </p>

           <div class="list">
               <li> <a href="">Aeropuerto de Frankfurt (FRA) (Frankfurt, Alemania)</a></li>
               <li> <a href="">Aeropuerto de Londres-Heathrow (LHR) (Londres, Inglaterra, Reino Unido)</a></li>
               <li> <a href="">Aeropuerto de Parí­s-Charles de Gaulle (CDG) (París, Francia)</a></li>
               <li> <a href="">Aeropuerto Adolfo Suárez Madrid-Barajas (MAD) (Madrid, España)</a></li>
               <li> <a href="">Aeropuerto de Barcelona (BCN) (Barcelona, España))</a></li>
               <li> <a href="">Aeropuerto Internacional de Moscú-Sheremetyevo (SVO) (Moscú, Rusia)</a></li>
               <li> <a href="">Aeropuerto de Roma-Fiumicino (FCO) (Roma, Italia))</a></li>
               <li> <a href="">Aeropuerto de Parí­s-Orly (ORY) (París, Francia)</a></li>
               <li> <a href="">Aeropuerto de Palma de Mallorca (PMI) (Palma de Mallorca, España))</a></li>
               <li> <a href="">Aeropuerto Internacional de Faro (FAO) (Faro, Portugal)</a></li>


           </div>
           <div class="contenedor-articulo">

               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_alemania.png" alt="">
                               <h3 class="btn-item active">Alemania</h3>
                           </div>
                       </div>
                   </div>
               </div>


               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_austria.png" alt="">
                               <h3 class="btn-item active">Austria
                               </h3>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_belgica.png" alt="">
                               <h3 class="btn-item active">Bélgica </h3>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_bulgaria.png" alt="">
                               <h3 class="btn-item active">Bulgaria </h3>
                           </div>
                       </div>
                   </div>
               </div>


               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_dinamarca.png" alt="">
                               <h3 class="btn-item active"> Dinamarca </h3>
                           </div>
                       </div>
                   </div>
               </div>


               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_espana.png" alt="">
                               <h3 class="btn-item active">España </h3>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_francia.png" alt="">
                               <h3 class="btn-item active">Francia </h3>
                           </div>
                       </div>
                   </div>
               </div>


              


               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_grecia.png" alt="">
                               <h3 class="btn-item active">Grecia </h3>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_hungria.png" alt="">
                               <h3 class="btn-item active">Hungría </h3>
                           </div>
                       </div>
                   </div>
               </div>



               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_irlanda.png" alt="">
                               <h3 class="btn-item active">Irlanda </h3>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_italia.png" alt="">
                               <h3 class="btn-item active"> Italia </h3>
                           </div>
                       </div>
                   </div>
               </div>

                <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_finlandia.png" alt="">
                               <h3 class="btn-item active">Finlandia </h3>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_letonia.png" alt="">
                               <h3 class="btn-item active">Letonia </h3>
                           </div>
                       </div>
                   </div>
               </div>



               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_noruega.png" alt="">
                               <h3 class="btn-item active">Noruega </h3>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_polonia.png" alt="">
                               <h3 class="btn-item active">Polonia </h3>
                           </div>
                       </div>
                   </div>
               </div>

                <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_portugal.png" alt="">
                               <h3 class="btn-item active">Portugal </h3>
                           </div>
                       </div>
                   </div>
               </div>

             <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_suecia.png" alt="">
                               <h3 class="btn-item active">Suecia </h3>
                           </div>
                       </div>
                   </div>
               </div>

             <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/europa/flag_suiza.png" alt="">
                               <h3 class="btn-item active">Suiza </h3>
                           </div>
                       </div>
                   </div>
               </div>


   </section>