
   <div class="contenedor">
      <section class="contenido-header">
        <section class="textos-header">
          <h3>Aqui encontrarás la información sobre salidas y llegadas
            de vuelos nacional e Internacionales, medios de transportes, lugares turisticos de cada pais y aeropuerto.
          </h3>
          <a href="rastreo-de-vuelos">Buscar Vuelo</a>
        </section>
        
         <img  class="img-continente"src="/img/fonts/map.svg" alt="">
     
      </section>
      
    </div>
      
<section class="about-us">
    <div class="content_us">
      <h2 class="titulo"></h2>
      <div class="contenedor-articulo">
        <div class="articulo">
          <i class="fas fa-plane-arrival"></i>
          <h3> Rastreo de vuelos Internacionales </h3>
          <p>El Mejor rastreador de vuelos en tiempo real,<strong> consulta la hora de salida y llega de tus
              viajes nacionales y Internacionales,</strong>
            con el <strong> codigo de vuelo rapido y sencencillo</strong>
            .</p>
          
        </div>

        <div class="articulo">

          <i class="fas fa-plane-arrival"></i>
          <h3> Aerolineas Internacionales</h3>
          <p>Aqui encontraras los 10 mejores <strong>Aerolineas</strong> de cada aeropuerto, tambien
            los modelos de avion de cada <strong> destino nacional y Internacional</strong>
            .</p>

        </div>

        <div class="articulo">
          <i class="fas fa-city"></i>
          <h3> Aeropuertos Internacionales</h3>
          <p>Encuentra los <strong>Aeropuertos</strong> de todos los paises, con sus centros de <strong>Atención al
              Cliente</strong> , destinos,
            <strong> horario de llegada y salida de cada vuelo.</strong></p>
         
        </div>

        <div class="articulo">
          <i class="fas fa-image"></i>
          <h3> Turismo Internacional</h3>
          <p>Conoce los mejores lugares <strong>turísticos del mundo, sus ruindas, lagos , tradiciones, fechas de
              celebracion</strong> y los mejores destinos de cada Pais.</p>
         
        </div>

        <div class="articulo">
          <i class="fas fa-bus"></i>
          <h3> Transportes</h3>
          <p>Obtenen las mejores ofertas de transporte para movilizarte de manera seguro una vez llegado a tu destinos,
            conoce los mejores app y empresas de transporte de cada 
            pasis, buses y taxis rentables.</p>
        
        </div>

        <div class="articulo">

          <i class="fas fa-utensils"></i>
          <h3> Comidas Internacionales</h3>
          <p>Disfruta las mejores <strong>comidas, postres, platos banderas, bebidas</strong> de cagada region en tus
            viajes.</p>
          
        </div>
      </div>
    </div>
  </section>

