   <div class="contenedor">

       <section class="contenido-header">
           <section class="textos-header">
 <h2><b>Asia</b></h2>
               <p>Asia es el continente más grande del mundo, lo que lo convierte en una tierra de grandes contrastes
                   geográficos, encontrando zonas áridas y grandes junglas, valles y depresiones a kilómetros apenas de
                   que se eleven los Himalayas, la cordillera más imponente del planeta. Entre el Pacífico y el Índico,
                   la tierra se desarma y da origen a miles de islas, cada una hogar de un ecosistema único
               </p>

               <p>
                     Cuenta con unos 4000 millones de habitantes y abarca
                   la mitad del hemisferio norte, desde el Océano Glaciar Ártico hasta el Océano Índico. Al contar con
                   más de la mitad de la población mundial, su economía es una de las más crecientes del mundo, siendo
                   un gran productor y consumidor de alimentos
                   .</p>


               <a href="rastreo-de-vuelos.html">Buscar Vuelo</a>
           </section>
           <img class="img-content" src="img/continentes/asia2.png">
       </section>

   </div>


   <section class="about-us">
       <div class="content_us">
           <h2 class="titulo">Aeropuertos de Asia</h2>
           <p>Estos son los principales aeropuertos de América del Norte. Se caracterizan por su ubicación geográfica y
               por
               realizar las mayores operaciones de vuelo a cargo de aerolíneas populares.
           </p>

           <div class="list">
               <li> <a href=""> Aeropuerto Internacional de Pekín (PEK) (Pekín, China)</a></li>
               <li> <a href="">Aeropuerto Internacional de Hong Kong (HKG) (Hong Kong))</a></li>
               <li> <a href="">Aeropuerto Internacional de Dubái (DXB) (Emiratos Árabes Unidos)</a></li>
               <li> <a href="">Aeropuerto Internacional de Tokio (HND) (Tokio, Japón)</a></li>
               <li> <a href="">Aeropuerto Internacional Indira Gandhi (DEL) (India)</a></li>
               <li> <a href="">Aeropuerto de Singapur (SIN) (Singapur)</a></li>
               <li> <a href="">Aeropuerto Internacional de Bangkok (BKK) (Bangkok, Tailandia)</a></li>
               
           </div>
           <div class="contenedor-articulo">

               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/asia/flag_arabia-saudita.png" alt="">
                               <h3 class="btn-item active">Arabia Saudita</h3>
                           </div>
                       </div>
                   </div>

               </div>


               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/asia/flag_china.png" alt="">
                               <h3 class="btn-item active">China
                               </h3>
                           </div>


                       </div>
                   </div>

               </div>


               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/asia/flag_corea-sur.png" alt="">
                               <h3 class="btn-item active">Corea del Sur </h3>
                           </div>


                       </div>
                   </div>

               </div>



                   <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/asia/flag_emiratos-araber.png" alt="">
                               <h3 class="btn-item active">Emiratos Árabes Unidos </h3>
                           </div>


                       </div>
                   </div>

               </div>


                   <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/asia/flag_filipinas.png" alt="">
                               <h3 class="btn-item active">Filipinas </h3>
                           </div>


                       </div>
                   </div>

               </div>


                   <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">

                           <div class="item">
                               <img src="img/ico-paises/asia/flag_india.png" alt="">
                               <h3 class="btn-item active">Indiar </h3>
                           </div>


                       </div>
                   </div>

               </div>


                <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/asia/flag_indonesia.png" alt="">
                               <h3 class="btn-item active">Indonesia </h3>
                           </div>
                       </div>
                   </div>
               </div>


               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/asia/flag_iraq.png" alt="">
                               <h3 class="btn-item active">Iraq </h3>
                           </div>
                       </div>
                   </div>
               </div>



               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/asia/flag_israel.png" alt="">
                               <h3 class="btn-item active">Israel </h3>
                           </div>
                       </div>
                   </div>
               </div>



               <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/asia/flag_Japon.png" alt="">
                               <h3 class="btn-item active">Japón </h3>
                           </div>
                       </div>
                   </div>
               </div>



          <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/asia/flag_kuwait.png" alt="">
                               <h3 class="btn-item active">Kuwait </h3>
                           </div>
                       </div>
                   </div>
               </div>

                 <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/asia/flag_libano.png" alt="">
                               <h3 class="btn-item active">Libano </h3>
                           </div>
                       </div>
                   </div>
               </div>

                 <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/asia/flag_malasia.png" alt="">
                               <h3 class="btn-item active">Malasia </h3>
                           </div>
                       </div>
                   </div>
               </div>

                 <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/asia/flag_singapur.png" alt="">
                               <h3 class="btn-item active">Singapur </h3>
                           </div>
                       </div>
                   </div>
               </div>

                <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/asia/flag_tailandia.png" alt="">
                               <h3 class="btn-item active">Tailandia </h3>
                           </div>
                       </div>
                   </div>
               </div>

               
                <div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/asia/flag_taiwan.png" alt="">
                               <h3 class="btn-item active">Taiwan </h3>
                           </div>
                       </div>
                   </div>
               </div>

<div class="articulo">
                   <div class="main-container">
                       <div class="list-container">
                           <div class="item">
                               <img src="img/ico-paises/asia/flag_vietnam.png" alt="">
                               <h3 class="btn-item active">Vietnam </h3>
                           </div>
                       </div>
                   </div>
               </div>

               
   </section>