   <div class="contenedor">
     <section class="contenido-header">
       <section class="textos-header">
 <h2><b>América del Norte</b></h2>
         <p>América del Norte o Norteamérica. Es un subcontinente que forma parte de América, situado en el Hemisferio
           Norte, entre los 17 grados y los 85 grados de Latitud Norte y entre los 55 grados y 170 grados longitud
           Occidental,casi por completo en el Hemisferio Occidental. Limita al norte con el Océano Glacial Ártico, al
           este con el Océano Atlántico, al sureste con el Mar Caribe y al sur y al oeste con el Océano Pacífico y La
           depresión de Chiapas en México. Sus puntos extremos lo constituyen : al Norte el cabo Columbia en la isla de
           Ellesmere; al Sur la depresión de Chiapas, en México; al Este el cabo Race en la isla de Terranova y al Oeste
           la isla de San Lorenzo en el estrecho de Bering,
         </p>
         <p>
           Está unido a América del Sur por el estrecho puente territorial que representa América Central. Cubre un área
           de aproximadamente 24.315.410 km², alrededor del 4,8% de la superficie del planeta. En 2009 su población
           estimada es de más de 480 millones de habitantes. Si se le considera como un continente, es el tercero en
           términos de área, después de Asia y África, y el cuarto en población después de Asia, África y Europa.
         </p>

         <a href="rastreo-de-vuelos.html">Buscar Vuelo</a>
       </section>
       <img class="img-content" src="img/continentes/norte.png">
     </section>
   </div>


   <section class="about-us">
     <div class="content_us">
       <h2 class="titulo">Aeropuertos de Norte America</h2>
       <p>Estos son los principales aeropuertos de América del Norte. Se caracterizan por su ubicación geográfica y por
         realizar las mayores operaciones de vuelo a cargo de aerolíneas populares.
       </p>

       <div class="list">
         <li> <a href=""> Aeropuerto internacional de Toronto Pearson (YYZ) (Toronto, Canadá)</a></li>
         <li> <a href=""> Aeropuerto internacional de Vancouver (YVR) (Vancouver, Canadá)</a></li>

         <li>  <a href="">Aeropuerto Internacional Hartsfield-Jackson (ATL) (Atlanta, Estados Unidos)</a></li>
         <li>  <a href="">Aeropuerto Internacional Chicago-O’Hare (ORD) (Chicago, Estados Unidos)</a></li>
         <li>  <a href="">Aeropuerto Internacional de Los Ángeles (LAX) (Los Ángeles, Estados Unidos)</a></li>
         <li>  <a href="">Aeropuerto Internacional John F. Kennedy (JFK) (Nueva York, Estados Unidos)</a></li>
         <li>  <a href="">Aeropuerto Internacional de la Ciudad de México (MEX) (Ciudad de México, México)</a></li>
         <li>  <a href="">Aeropuerto Internacional de Cancún (CUN) (Cancún, México</a></li>
       </div>
       <div class="contenedor-articulo">

         <div class="articulo">
           <div class="main-container">
             <div class="list-container">

               <div class="item">
                 <img src="img/ico-paises/norte-america/flag_canada.png" alt="">
                 <h3 class="btn-item active">Canada</h3>
               </div>
             </div>
           </div>

         </div>


         <div class="articulo">
           <div class="main-container">
             <div class="list-container">

               <div class="item">
                 <img src="img/ico-paises/norte-america/flag_usa.png" alt="">
                 <h3 class="btn-item active">Estados Unidos </h3>
               </div>


             </div>
           </div>

         </div>


         <div class="articulo">
           <div class="main-container">
             <div class="list-container">

               <div class="item">
                 <img src="img/ico-paises/norte-america/flag_mexico.png" alt="">
                 <h3 class="btn-item active">Mexico </h3>
               </div>


             </div>
           </div>

         </div>

   </section>